<%- include('partials/header'); -%>
<% const currentYear=new Date().getFullYear(); %>
<main class="form-signin">
    <form action="/login" method="post">
      <img class="mb-4" src="pics/She Exists Logo-PNG (1).png" alt="" width="" height="">
      <main>SheExist Magazine </main>
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
  
      <div class="form-floating">
        <input type="email" name="username" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
  
     
      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
      
    </form>
    <br>
    <br>
    <!-- <p class="mt-5 mb-3 text-muted">&copy; 2017– <%=currentYear %></p> -->
    <form action="/register" method="get">
      <div class="error1">I don't have account yet?<span><button type="submit" class="" id="error">Register</button></span></div>
    </form>
  </main>
  <%- include('partials/footer'); -%>